.Card-container {
  width: 350px;
  height: 50%;
  background: #fff;
  border-radius: 5px;
  position: relative;
  margin-left: 50px;
}

.Card-img {
  height: 60px;
  width: 60px;
  background-color: #3b3054;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 10%;
}

.Card-txt {
  height: 65%;
  width: 85%;
  position: absolute;
  top: 25%;
  left: 6.5%;
}

@media (max-width: 430px) {
  .Card-container {
    width: 100%;
    height: 45%;
    margin: 0%;
  }
}
