.SearchComp-container {
  height: 80px;
  width: 80%;
  background-color: #3b3054;
  margin-left: 10%;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  flex-direction: row;

  z-index: 5;
}

.SearchComp-container .Search {
  outline: none;
  border: none;
  height: 35px;
  width: 80%;
  border-radius: 5px;
}

.SearchComp-container .btn {
  outline: none;
  border: none;
  height: 35px;
  width: 10%;
  border-radius: 5px;
  background-color: #2acfcf;
  color: #fff;
}

.Item2-container {
  width: 100%;
  height: 100vh;
  background-color: #bfbfbf;
  position: absolute;
  top: 5.5%;
  z-index: 4;
}

.Item2-container .Item2-Main {
  height: 70%;
  width: 80%;
  margin-left: 10%;
  position: relative;
  top: 20%;
}

.Item2-Main .title {
  min-width: 35%;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Item2-container .Item2-Body {
  position: absolute;
  top: 40%;
  width: 80%;
  height: 58%;
  /* border: 1px solid red; */
  margin-left: 10%;
  display: flex;
}
@media (max-width: 430px) {
  .SearchComp-container {
    flex-direction: column;
    height: 100px;
  }

  .SearchComp-container .Search {
    height: 35px;
    width: 80%;
  }

  .SearchComp-container .btn {
    height: 35px;
    width: 80%;
  }

  .Item2-Main .title {
    /* border: 1px solid green; */
    top: -15%;
  }
  .Item2-container .Item2-Body {
    /* border: 1px solid green; */
    top: 20%;
  }

  .Item2-Main .title .heading {
    font-size: 4vw;
  }
  .Item2-Main .title p {
    font-size: 2.5vw;
  }

  .Item2-container .Item2-Body {
    flex-direction: column;
  }

  .Item2-container {
    height: 250vh;
  }
}
